body {
    position: relative;
    background-image: url(IMG/слой\ зололто.png);
    background-size: contain;
    background-attachment: fixed;
    height: 828px;
    margin: 0px;
    } 
/*ВЕРХНИЙ СЛОЙ на сияющий*/
.square {
    position: fixed;
    min-width: 100%;
    min-height: 100%
    } 
/*Верзняя красная полоса*/
.header {
    position: relative;
    height: 71px;
    min-width: 1300px;
    background-color: #8C0A0D;
}
/*Доготип Рошен*/
.imgRoshen {
    position: absolute;
    top: 15px;
    left: 67px;
    filter:  contrast(300%) 
}
/*Наполнение верхней красной полосы*/
.aboutRoshen {
    position: absolute;
    top: 38px;
    left: 369px;
    width: 70px;
    height: 11px;
    font-size: 14px;
    color: #FCC57E;
    cursor: pointer;
}
.News {
    position: absolute;
    top: 38px;
    left: 469px;
    width: 71px;
    height: 11px;
    font-size: 14px;
    color: #FCC57E;
    cursor: pointer;
}
.Shop {
    position: absolute;
    top: 38px;
    left: 572px;
    width: 81px;
    height: 11px;
    font-size: 14px;
    color: #FCC57E;
    cursor: pointer;
}
.Social {
    position: absolute;
    top: 38px;
    left: 687px;
    width: 175px;
    height: 13px;
    font-size: 14px;
    color: #FCC57E;
    cursor: pointer;
}
.career {
    position: absolute;
    top: 38px;
    left: 893px;
    width: 62px;
    height: 10px;
    font-size: 14px;
    color: #FCC57E;
    cursor: pointer;
}
.contacts {
    position: absolute;
    top: 38px;
    left: 987px;
    width: 80px;
    height: 11px;
    font-size: 14px;
    color: #FCC57E;
    cursor: pointer;
    }
.flag {
    position: absolute;
    top: 38px;
    left: 1160px;
    width: 26px;
    height: 18px;
}
.eng {
    position: absolute;
    top: 38px;
    left: 1197px;
    width: 37px;
    height: 13px;
    font-size: 18px;
    color: #FCC57E;
    cursor: pointer;
}
/*центральный блок*/
.center {
    position: relative;
    margin: auto;
    margin-top: 26px;
    width: 1170px;
    height: 335px;
    border: solid 1px black;
} 
/*Фото завода*/
.foto {
    position: absolute;
    display: block;
    width: 1170px ;
    height: 335px;
}
/* Рошен в мире*/
.Rosheninworld {
    position: absolute;
    width: 455px ;
    height: 54px;
    margin: -15px 360px;
    font-size: 60px;
    font-weight: 500;
    font-family: 'Scheherazade New', serif;
    color: #35040C;
}
/*кнопка узнать больше*/
.under {
    position: absolute;
    top: 87px;
    left: 493px;
    width: 189px;
    height: 42px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #BF670D;
    
}
.up {
    position: absolute;
    top: 83px;
    left: 493px;
    width: 189px;
    height: 42px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #F6CC79;
}
.up2 {/* Тут возникли большие проблемы с отступами.Почему то пришлось задавать марджин топ аж -4пикселя. Долго ломал голову но так и не понял*/
    position: absolute;
    margin-top: -4px;
    margin-left: 15px;
    height: 24px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Scheherazade New', serif;

}
/*стрелки навигации*/
.left {
    position: absolute;
    top: 155px;
    left: 28px;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.right {
    position: absolute;
    top: 155px;
    right: 28px;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
/*точки навигации*/
.whitedot {
    position: absolute;
    top: 311px;
    left: 555px;
    width: 15px;
    height: 15px;
    
}
.whitedot2 {
    position: absolute;
    top: 311px;
    left: 603px;
    width: 15px;
    height: 15px;
    
}
.orangedot{
    position: absolute;
    top: 311px;
    left: 579px;
    width: 15px;
    height: 15px;
    
}
.content {
    position: relative;
    margin: auto;
    margin-top: 26px;
    width: 1170px;
    height: 310px;
    
}
/*Контент-нвполнение, порядок идет по ряду от верхнего до нижнего*/
.first {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 269px;
    height: 64px;
    text-align: left;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Scheherazade New', serif;
    line-height: 25px;
}
.second {
    position: absolute;
    top: 0px;
    left: 299px;
    width: 292px;
    height: 64px;
    text-align: left;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Scheherazade New', serif;
    line-height: 25px;
    
}
.third  {
    position: absolute;
    top: 0px;
    left: 625px;
    width: 240px;
    height: 89px;
    text-align: left;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Scheherazade New', serif;
    line-height: 25px;
    
}
.fourth  {
    position: absolute;
    top: 0px;
    left: 905px;
    width: 249px;
    height: 63px;
    text-align: left;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Scheherazade New', serif;
    line-height: 25px;
    
}
.fifth  {
    position: absolute;
    top: 110px;
    left: 0px;
    width: 259px;
    height: 135px;
    text-align: left;
    font-size: 16px;
    font-family: 'Scheherazade New', serif;
    line-height: 25px;
}
.sixth  {
    position: absolute;
    top: 110px;
    left: 299px;
    width: 254px;
    height: 158px;
    text-align: left;
    font-size: 16px;
    font-family: 'Scheherazade New', serif;
    line-height: 25px;
}
.seventh  {
    position: absolute;
    top: 110px;
    left: 625px;
    width: 253px;
    height: 158px;
    text-align: left;
    font-size: 16px;
    font-family: 'Scheherazade New', serif;
    line-height: 25px;
}
.eighth  {
    position: absolute;
    top: 110px;
    left: 905px;
    width: 276px;
    height: 133px;
    text-align: left;
    font-size: 16px;
    font-family: 'Scheherazade New', serif;
    line-height: 25px;
}
.footer {
    position: relative;
    height: 70px;
    min-width: 1300px;
    background-color: #8C0A0D;
}
.site {
    position: absolute;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    top: 28px;
    left: 90px;
    width: 192px;
    height: 14px;
    color: #F5BF66;
}
.adress {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    top: 12px;
    left: 390px;
    width: 148px;
    height: 38px;
    color: #F5BF66;
}
.telefone {
    position: absolute;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    top: 27px;
    left: 715px;
    width: 144px;
    height: 37px;
    color: #F5BF66;
}
.mail {
    position: absolute;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    top: 12px;
    left: 995px;
    width: 138px;
    height: 36px;
    color: #F5BF66;
}
.FB {
    position: absolute;
    top: 29px;
    right: 108px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.VK {
    position: absolute;
    top: 29px;
    right: 67px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    
}